@font-face {
    font-family: "Raleway_Bold_Italic";
    src: url("../fonts/Raleway-Bold-Italic.ttf");
}

@font-face {
    font-family: "Raleway_ExtraBold_Italic";
    src: url("../fonts/Raleway-ExtraBold-Italic.ttf");
}

@font-face {
    font-family: "Raleway_Black";
    src: url("../fonts/Raleway-Black.ttf");
}

@font-face {
    font-family: "Raleway_Bold";
    src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway_Black_Italic";
    src: url("../fonts/Raleway-Black-Italic.ttf");
}

@font-face {
    font-family: "Raleway_ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
    font-family: "Raleway_ExtraLight_Italic";
    src: url("../fonts/Raleway-ExtraLight-Italic.ttf");
}

@font-face {
    font-family: "Raleway_Thin_Italic";
    src: url("../fonts/Raleway-Thin-Italic.ttf");
}

@font-face {
    font-family: "Raleway_ExtraLight";
    src: url("../fonts/Raleway-ExtraLight.ttf");
}

@font-face {
    font-family: "Raleway_Light_Italic";
    src: url("../fonts/Raleway-Light-Italic.ttf");
}

@font-face {
    font-family: "Raleway_Thin";
    src: url("../fonts/Raleway-Thin.ttf");
}

@font-face {
    font-family: "Raleway_Light";
    src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
    font-family: "Raleway_Medium_Italic";
    src: url("../fonts/Raleway-Medium-Italic.ttf");
}

@font-face {
    font-family: "Raleway_Medium";
    src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway_Regular_Italic";
    src: url("../fonts/Raleway-Regular-Italic.ttf");
}

@font-face {
    font-family: "Raleway_Regular";
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway_SemiBold_Italic";
    src: url("../fonts/Raleway-SemiBold-Italic.ttf");
}

@font-face {
    font-family: "Raleway_SemiBold";
    src: url("../fonts/Raleway-SemiBold.ttf");
}