	<!--label >
								<b ><span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltNombre')}}">{{Lang::get('messages.updtFrmLblNombre')}}</span></b></label>
							
						
							<label >
								<b ><span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltApellidoPaterno')}}">{{Lang::get('messages.updtFrmLblApellidoPaterno')}}</span></b>
							</label>
					
						
							<label >
								<b ><span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltApellidoMaterno')}}">{{Lang::get('messages.updtFrmLblApellidoMaterno')}}</span></b>
							</label>
					

						
							<label>
							<span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltAdvertenciaDatos')}}">	{{Lang::get('messages.updtFrmLblPais')}}</span>
							</label>
						
						
							<label>
								<span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltAdvertenciaDatos')}}">{{Lang::get('messages.updtFrmLblEstado')}}</span>
							</label>
					
						
							<label>
							<span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltAdvertenciaDatos')}}">{{Lang::get('messages.updtFrmLblMunicipio')}}</span>
							</label>
					
						
							<label>
							<span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltAdvertenciaDatos')}}">	{{Lang::get('messages.updtFrmLblCiudad')}}</span>
							</label>
					
				
							<label>
								<span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltAdvertenciaDatos')}}">{{Lang::get('messages.updtFrmLblColonia')}}</span>
							</label>
					
						<div class="large-6 columns ">
							<label>
								Municipio:
								<input type="text" name="" placeholder="Municipio" />
							</label>
						</div>
						<div class="large-6 columns ">
							<label>
								Colonia:
								<input type="text" name="" placeholder="Colonia" />
							</label>
						</div>
						<div class="red_titulo"><h4>{{Lang::get('messages.updtFrmTitRedesSociales')}}:</h4></div>
						
							
							<label>
								<span  data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltSocial')}}"> {{Lang::get('messages.updtFrmLblFacebook')}}</span>
							</label>
					
						
							<label>
								<span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltSocialExtra')}}">{{Lang::get('messages.updtFrmLblTwitter')}}</span>
							</label>
					
						
							<label>
								<span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltSocialExtra')}}">{{Lang::get('messages.updtFrmLblInstagram')}}</span>
							
							</label>
					

						<div class="red_titulo"><h4>{{Lang::get('messages.updtFrmLblApodo')}}:</h4></div-->
						
							
						

						<!--div class="red_titulo"><h4>{{Lang::get('messages.updtFrmTitMascaras')}}:</h4></div>
						<div class="red_titulo"><p><strong>{{Lang::get('messages.updtFrmLblMascarasClasificacion')}}</strong> {{Lang::get('messages.updtFrmLblMascarasOpt')}}</p>
						</div>

							<label>
								<span data-tooltip aria-haspopup="true" class="has-tip" title="{{Lang::get('messages.updtTltConsejoMascaras')}}">{{Lang::get('messages.updtFrmLblMascaraSeleccionada')}} </span>
							</label>
							
					
						<div class="small-12 columns"> 
						
						</div>

						<div class="small-12 columns">
							<br/>
						</div-->